html{
    margin          : 0;
    padding         : 0;
    position        : relative;
    font-family     : 'Faktum', sans-serif;
    overflow-x      : hidden;
    scroll-behavior : smooth;
} 

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
}

body {
    width           : 100%;
    margin          : 0;
    padding         : 0;
    font-family     : 'Faktum', sans-serif !important;
    scroll-behavior : smooth;
    overflow        : hidden;
}

body.tight .main {
    transform  : translateY(260px) scale(0.9);
    cursor     : pointer;
    transition : 1s ease;
    box-shadow : 0px 22px 54px rgba(0, 0, 0, 0.5);
}

.main {
    height     : auto;
    width      : 100%;
    position   : relative;
    top        : 0;
    box-sizing : border-box;
}

ol, ul, li { list-style: none; }

h1, h2, h3, h4{
    color          : $h1-color;
    font-family    : 'Faktum' !important;
    letter-spacing : -1px;
}

h2{
    &:before {
        display: inline-block;
        margin: 0 20px 8px 0;
        height: 3px;
        content: " ";
        background:$primary-light;
        width: 17%;
    }

    &:after {
        display: inline-block;
        margin: 0 0 8px 20px;
        height: 3px;
        content: " ";
        background:$primary-light;
        width: 17%;
    }
}

h1 { 
    font-weight: 700;
    font-size:36px;
}

h2 {
    font-weight : 600;
    position    : relative;
    font-size:34px;
}

h3 { 
    font-weight: 400;
    font-size:27px; 
}

h4 { 
    font-weight: 300;
    font-size:22px; 
}

p {
    color       : $text-color;
    line-height : 1.5rem;
}
