/************** ******* **************/
/************** BOUTONS **************/
/************** ******* **************/
$btn-bg-transition: 5; //Les transitions supérieurs à 0 peuvent être activer que si il n'y a pas de radius ni de bordures (Il y a )
// il est cependant possible d'utiliser la transition 1 (dégradé) mais il faut commenter les lignes 8 à 10 de _btn.scss.

/************** ****** **************/
/************** NAVBAR **************/
/************** ****** **************/
/* AFFICHER - Logo et/ou métier */
$xs-show-logo: true; // Affiche logo en XS
$xs-show-brand: true; // Affiche slogan en XS
$affix-md-show-logo: true; // Affiche mini logo en affix
$affix-md-show-brand: true; // Affiche slogan en affix

$b348-affix-top-md-show-brand: false; // Utilisé uniquement sur B348
/* AFFICHER - réseaux sociaux */
$top-barre-picto: false; // Ajouter le bloc -> "Top bar - picto" dans Top bar
$top-barre-picto-and-navbar-large: false; // active les media-queries si plus de 6-7 onglets avec top-barre-picto

/* DÉGRADÉ en AFFIX pour améliorer lisibilité si Navbar totalement transparente (0) */
$navbar-transparent-gradient: false; // Affiche un dégradé vertical
/* OMBRE AFFIX-TOP */
$navbar-shadow-top : false;
/* OMBRE AFFIX */
$navbar-shadow-affix : false;

/* ONGLET : Affiche un icône à côté de chaque rubrique ayant une class attribué */
$navbar-menu-icones: false;
/* ONGLET ACTIVE : Affiche une ligne sous l'onglet */
$navbar-a-active-after: false;
$navbar-a-active-after-position: center; // left ou center

/* DROPDOWN MENU : Affiche une puce triangulaire au dessus */
$dropmenu-puce: false;

/************** ****** **************/
/************** HEADER **************/
/************** ****** **************/
/* CENTRAGE */
$slider-center: false;
$slider-left-center: false;
/* CAROUSEL */
$carousel-bs-active: false;
/* OMBRAGE */
$header-shadow: true;
/* DÉGRADÉ */
$header-linear-gradient: true; // Affiche un film transparent sur le header cf header.scss l204
/* OVERLAY */
$header-overlay: false; // Affiche un motif transparent sur le header cf header.scss l204

/************** **************** **************/
/************** TITRE SOULIGNAGE **************/
/************** **************** **************/
$title-before: false;
$title-after: false;
$title-after-puce: false;

/************** ********* **************/
/************** ACTUALITÉ **************/
/************** ********* **************/
$actu-img-shadow: false;

/************** ********* **************/
/************** ARTICLE **************/
/************** ********* **************/
$soref-img-shadow: $actu-img-shadow;

/************** ************** **************/
/************** DAMIER / CARDS **************/
/************** ************** **************/
$damier-cards-shadow : true;
$damier-gradient : false;

/************** ********** **************/
/************** SHARE-THIS **************/
/************** ********** **************/
$share-this-background : "circle"; //circle, circle-thin, none

/************** ********** **************/
/************** FORMULAIRE **************/
/************** ********** **************/
$form-border : "none"; //all, bottom, none
$form-bg-opacity : 1;

/************** *** **************/
/************** MAP **************/
/************** *** **************/
$configuration-map: "map-full"; //map-full, map-superposition, map-center, map-double(ajouter un deuxième lien)

/************** *** **************/
/************** SVG **************/
/************** *** **************/
//Feuille de style _diagonal.scss dé/commenter l.76/77 pour b272
$diag-svg-header-bottom : false; //HEADER
$diag-svg-actu-bottom : false; //ACTU
$diag-svg-parallax-top-bottom: false; //PARALLAX
$diag-svg-footer-map-top: false; //MAP

$diag-selection: 1;//1=diag, 2=diag peint, 3=vague