// Font PAS PLUS DE DEUX POLICES GOOGLE !!
// Les fonts appeler dans le fichier html.tpl.php ligne 63 et 64 ***

$title-font: 'Poppins', sans-serif;
$title-normal-weight:400;
$title-bold-weight:600;

$base-font: 'Lato', sans-serif;
$light-weight:300;
$normal-weight:400;
$bold-weight:700;

$loud-font: $base-font;
$loud-font-weight: $bold-weight;

$manuscrit: $base-font;

$font-size: 16px;
$base-line-height: 1.7em;

/************** NAVBAR **************/
$navbar-font-family : $base-font;
$navbar-font-weight : $normal-weight;
$navbar-text-transform : none;
$navbar-font-size : 16px;
$navbar-line-height : 1em;
$navbar-letter-spacing: 0em;

/* *** NAVBAR Dropdown-menu *** */
$navbar-d-menu-font-family : $base-font;
$navbar-d-menu-font-weight : $normal-weight;
$navbar-d-menu-text-transform : none;
$navbar-d-menu-font-size : 14px;
$navbar-d-menu-line-height : 1em;
$navbar-d-menu-letter-spacing: 0em;

/************** H1 **************/
$h1-font-family : $title-font;
$h1-font-weight : $title-bold-weight;
$h1-text-transform : none;
$h1-font-size: 33px;
$h1-line-height : 1.2em;
$h1-letter-spacing: 0em;

/************** BTN **************/
$btn-font-family : $base-font;
$btn-font-weight : $normal-weight;
$btn-text-transform : uppercase;
$btn-font-size : 14px;
$btn-line-height : 1em;
$btn-letter-spacing: 0.1em;

/**************** DAMIER ****************/
$damier-h2-font-family : $title-font;
$damier-h2-font-weight : $title-bold-weight;
$damier-h2-text-transform : none;
$damier-h2-font-size-xs : 21px;
$damier-h2-font-size : 26px;
$damier-h2-line-height : 1.3em;
$damier-h2-letter-spacing: 0em;

/**************** CALL TO ACTION ****************/
// Doit etre pareil que les h2 damier :)
$call-action-h2-font-family : $damier-h2-font-family;
$call-action-h2-font-weight : $damier-h2-font-weight;
$call-action-h2-text-transform : $damier-h2-text-transform;
$call-action-h2-font-size : $h1-font-size;
$call-action-h2-line-height : $damier-h2-line-height;
$call-action-h2-letter-spacing: $damier-h2-letter-spacing;

/************** TITLE ACTU **************/
$bloc-actu-titre-font-family : $title-font;
$bloc-actu-titre-font-weight : $title-bold-weight;
$bloc-actu-titre-text-transform : none;
$bloc-actu-titre-font-size : 22px;
$bloc-actu-titre-line-height : 1.2;
$bloc-actu-titre-letter-spacing: 0em;

/************** H2 FORMULAIRE FOOTER **************/
$form-h2-font-family : $title-font;
$form-h2-font-weight : $title-bold-weight;
$form-h2-text-transform : none;
$form-h2-font-size : 29px;
$form-h2-line-height : 1.2em;
$form-h2-letter-spacing: 0em;