@media(min-width:1921px) {
    .slider {
        max-height : 1080px;
    }
}

@media(max-width:1440px) {
    .slider {
        .slider-container {
            .slider-encart {
                position  : relative;
                .slider-logo {
                    max-width : 300px;
                }
                .info-first {
                    p {
                        font-size : 22px;
                    }
                }
                .slogan {
                    p {
                        font-size   : 46px;
                        line-height : 52px;
                    }
                }
                .sub-slogan {
                    margin : 14px 0;
                    p {
                        font-size   : 30px;
                        line-height : 34px;
                    }
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .slider {
        .slider-container {
            background : linear-gradient(to top, rgba(var(--color-primary-xxlight), 1) 10%, rgba(var(--color-primary-xxlight), 0) 100%),
                        linear-gradient(to right, rgba(var(--color-primary-xxlight), 1) 10%, rgba(var(--color-primary-xxlight), 0) 100%);
            
        }
    }
}

@media(max-width:768px) {
    .slider {
        .slider-container {
            .slider-encart {
                max-width : 100%;
                position  : relative;
                .slider-logo {
                    max-width : 300px;
                }
                .info-first {
                    p {
                        font-size : 22px;
                    }
                }
                .slogan {
                    p {
                        font-size   : 35px;
                        line-height : 40px;
                    }
                }
                .sub-slogan {
                    p {
                        font-size   : 26px;
                        line-height : 40px;
                    }
                }
            }
        }
    }
}

@media(max-width:576px) {
    .slider {
        .slider-container {
            padding : 20px;
            .slider-encart {
                .slider-logo {
                    margin : 0 auto 20px;
                }
                .info-first {
                    max-width : 350px;
                    margin-bottom:15px;
                    p {
                        font-size      : 20px;
                        letter-spacing : 2px;
                    }
                }
                .slider-btn {
                    flex-direction : column;
                    .btn {
                        margin-bottom : 5px !important;
                    }
                }
                .slogan {
                    p {
                        line-height : 50px;
                    }
                }
                .sub-slogan {
                    padding : 0 0 0 10px;
                    p {
                        font-weight : 600;
                        font-size   : 20px;
                        line-height : 24px;
                    }

                    &:before {
                        left   : 0;
                        top    : -7px;
                        height : 18px;
                        width  : 25px;
                    }
    
                    &::after {
                        right  : -10px;
                        bottom : -7px;
                        height : 18px;
                        width  : 25px;
                    }
                }
                .slider-infos {
                    a {
                        font-size  : 16px;
                    }
                }
            }
        }
    }
}

@media(max-width:440px) {
    .slider {
        .slider-container {
            .slider-encart {
                .slogan {
                    p {
                        font-size : 28px;
                    }
                }
            }
        }
    }
}