@media (max-width: 992px) {
    header {
        box-shadow : var(--shadow-x-smooth);
        height     : 70px;
        background : var(--color-body);

        &.active {
            &:before {
                content          : '';
                position         : absolute;
                top              : 70px;
                left             : 0;
                right            : 0;
                width            : 100vw;
                height           : calc(100vh - 50px);
                background-color : rgba(0, 0, 0, 0.5);
                transition       : .7s ease;
            }
        }

        nav {
            padding    : 10px 10px;
            position   : relative;

            .navbar-logo {
                height  : auto;
                padding : 10px;
                
                .logo {
                    max-height : 30px;
                }
            }

            ul {
                position   : absolute;
                width      : 60%;
                height     : calc(100vh - 50px);
                top        : 69px;
                left       : -100%;
                transition : .7s ease;
                display    : block;
                text-align : center;
                background : var(--color-body);
                overflow   : hidden;

                &.active {
                    left : 0;
                }

                li {
                    padding: 0 10px;

                    a, button {
                        height      : 46px;
                        font-size   : 20px;
                        font-weight : 600;
                        text-align  : left;
                        width       : 100%;
                        margin      : 0;
                        border-left : 4px solid white;

                        svg {
                            position    : absolute;
                            right       : 10px;
                            margin-left : 0;
                        }
                    }

                    ul {
                        max-height : 0;
                        overflow   : hidden;
                        visibility : hidden;
                        transition : 1s ease-in-out;
                    }

                    &.active {

                        ul {
                            position     : relative;
                            top          : 0;
                            box-shadow   : none;
                            height       : auto;
                            max-height   : 800px;
                            overflow     : visible;
                            visibility   : visible;
                            transition   : 1s ease-in-out;
                            width        : 100%;
                            padding-left : 30px;
                            margin       : 0 0 0 auto;
                            right        : 0;
                            left         : unset;

                            li {
                                width : 100%;

                                a {
                                    color       : #757c8f;
                                    text-align  : left;
                                    width       : 100%;
                                    font-weight : 600;

                                    &:hover, &:focus, &.active {
                                        color       : var(--color-primary);
                                        border-left : 4px solid var(--color-primary);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &.active-mob {
            nav {
                padding : 0 10px;
                > ul {
                    top : 50px;
                    transition: 1s ease;
                }
            }
        }
    }

    .topnav-toggle {
        display         : flex;
        align-items     : center;
        justify-content : center;
        margin-bottom   : 3px;
    }
}

@media(min-width:993px) {
    header {
        nav {
            position  : relative;
            max-width : 1700px;
            margin    : 0 auto;
        }
    }
}

@media(max-width:992px) {
    .menu-small-displayer {
        position : unset;
    }

    .menu-small {
        visibility : visible;
        position   : absolute;
        top        : 0;
        left       : 100%;
        transform  : none;
        width      : 100%;
        height     : calc(100vh - 50px);
        max-height : unset;
        transition : 0.5s ease;
        box-shadow : none;
        opacity    : 1;
        z-index    : 1;
    
        &.open {
            left : 0;
            top  : 0;
        }

        .menu-small-title {
            display         : flex;
            align-items     : center;
            font-size       : 22px;
            font-weight     : 700;
            padding         : 10px;

            svg {
                font-size    : 35px;
                margin-right : 10px;
                cursor       : pointer;
            }
        }

        a {
            height       : 46px;
            font-size    : 20px;
            padding-left : 20px;

            &:hover, &.active {
                padding    : 10px 15px 10px 30px;
                color      : var(--color-primary);
                transition : .3s ease;

                &:before {
                    width      : 20px;
                    left       : 5px;
                    background : var(--color-primary);
                    transition : .3s ease;
                }

                &:after {
                    content : none;
                }
            }
        }
    }
}

@media(max-width:576px) {
    header {
        nav {
            ul {
                width : 100%;
            }
        }
    }
}