footer {
    position   : relative;
    width      : 100%;
    background : var(--primary);
    color      : #e0e0e0;
    margin-top : 50px;

    &:before {
        position   : absolute;
        content    : "";
        top        : -99px;
        left       : 0;
        right      : 0;
        background : var(--primary);
        height     : 100px;
        width      : 100%;
        z-index    : -1;
        clip-path  : polygon(0 0, 100% 100%, 0% 100%);
    }

    .container {
        position  : relative;
        padding   : 30px;
        max-width : 1700px;
        width     : 85%;

        ul {
            li {
                padding : 3px 0;
                a {
                    &:hover {
                        color : white;
                    }
                }
            }
        }
    
        h5 {
            font-weight   : 500;
            font-size     : 16px;
            color         : white;
            margin-bottom : 5px;
        }

        .footer-logo {
            max-width : 150px;
        }
    }
  
    .footer-infos {
        ul {
            position       : relative;
            display        : flex;
            flex-direction : column;
            margin         : 0 auto;
    
            li {
                position       : relative;
                margin         : 0 0 10px 0;
                display        : flex;
                flex-direction : column;
        
                p {
                    color       : #e0e0e0;
                    white-space : nowrap;
                }

                svg {
                    margin-right : 5px;
                    position     : absolute;
                    top          : 5px;
                    left         : -25px;
                }
            }
        }
    } 
}

.footer-bottom {
    width       : 100%;
    padding-top : 30px;
    margin-top  : 45px;
    border-top  : 1px solid var(--primary-xlight);

    .container {
        padding    : 0;
        border-top : 1px solid var(--primary-xlight);
    }
  
    p {
      color      : #e0e0e0;
      padding    : 15px;
      text-align : right;
    }
}