header {
    width               : 100%;
    height              : 95px;
    position            : fixed;
    transition          : 0.5s ease;
    background          : linear-gradient(to left, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 60%);
    z-index             : 2000;

    &.reduced-navbar {
        height     : 55px;
        background : var(--body);
        box-shadow : var(--shadow-x-smooth);
        nav {
            padding : 0px 50px;
            .navbar-logo {
                .logo {
                    max-height : 35px;
                    margin-top : 5px;
                }
            }
        }
    }

    &.hidden-navbar {
        transform : translateY(-95px);
    }

    nav { 
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        width           : 100%;
        top             : 0;
        left            : 0;
        padding         : 20px 50px;
        transition      : 0.5s ease;
        z-index         : 2000;

        .navbar-logo {
            width   : auto;
            height  : 55px;
            margin  : 0 auto 0 0;
            padding : 5px;
            
            .logo {
                display    : block;
                max-height : 45px;
                width      : auto;
                transition : 0.5s ease-in-out;
                cursor     : pointer;

                &.active {
                    display : none;
                }

                &:hover {
                    transform : scale(1.1);
                }
            }
            
            .logo-white {
                display : none;

                &.active {
                    display : block;
                }
            }
        }

        ul {
            display    : flex;
            margin     : 0;
            padding    : 0;
            z-index    : 100;
            background : rgba(var(--body-rgb), 0);

            li {
                list-style : none;
                position   : relative;

                .sub-menu {
                    &:before {
                        content     : "\f0d7";
                        position    : absolute;
                        font-family : Fontawesome;
                        color       : var(--primary);
                        right       : 5px;
                        transform   : rotate(0deg);
                        transition  : 0.5 ease-in-out;
                        
                    }
                }

                a,
                button {
                    position    : relative;
                    display     : flex;
                    align-items : center;
                    color       : var(--text);
                    font-weight : 600;
                    margin      : 0 20px;
                    height      : 40px;
                    width       : 100%;

                    &:before {
                        position   : absolute;
                        content    : '';
                        bottom     : 5px;
                        left       : 0;
                        width      : 0;
                        height     : 2px;
                        background : var(--body);
                        transition : .3s ease;
                    }

                    &:hover, &.active {
                        color : var(--primary);

                        &:before {
                            width      : 25px;
                            background : var(--primary);
                            transition : .3s ease;
                        }
                    }

                    svg {
                        margin-left : 5px;
                    }
                }

                &.active {
                    .sub-menu {
                        &:before {
                            content    : "\f0d7";
                            transform  : rotate(90deg);
                            transition : 0.5 ease-in-out;
                        }
                    }

                    ul {
                        display : block;
                    }
                }

                ul {
                    position      : absolute;
                    left          : 0;
                    background    : white;
                    display       : none;
                    border-radius : 0 0 5px 5px;
                    box-shadow    : var(--shadow-x-smooth);

                    li {
                        display : block;
                        width   : 200px;

                        a {
                            color       : #757c8f;
                            text-align  : left;
                            width       : 100%;
                            font-weight : 600;
                            border-left : 4px solid white;

                            &:hover, &:focus, &.active {
                                color       : var(--primary);
                                border-left : 4px solid var(--primary);
                            }

                            &:after {
                                content : none;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-btn {
        height        : auto;
        width         : auto;
        padding       : 10px;
        margin        : 0 0 0 10px;
        z-index       : 100;
        border-radius : var(--rounded-md);
        background    : var(--primary-xlight);
        box-shadow    : var(--shadow-x-smooth);
        cursor        : pointer;
    
        svg {
            color  : var(--primary);
            width  : 18px;
            height : 18px;
        }

        &:hover {
            background : rgba(var(--primary-rgb), 1);
            svg {
                color : white;
            }
        }
    }
}

.menu-small {
    visibility    : hidden;
    position      : absolute;
    top           : 80px;
    transform     : translateX(-15%);
    width         : 220px;
    transition    : 0.5s ease;
    overflow      : hidden;
    background    : var(--body);
    box-shadow    : var(--shadow-smooth);
    border-radius : var(--rounded-md);
    opacity       : 0;

    &.open {
        visibility : visible;
        opacity    : 1;
        top        : 45px;
    }

    .menu-small-title {
        display : none;
    }

    a {
        position   : relative;
        padding    : 10px 20px;
        text-align : left;
        margin     : 0;
        color      : var(--text);
        transition : .3s ease;
        
        &:before {
            content : none;
        }

        &:after {
            content : none;
        }

        &:hover {
            padding    : 10px 13px 10px 27px;
            color      : var(--primary);
            transition : .3s ease;
        }
        &.active {
            color      : var(--primary);
            transition : .3s ease;
        }
    }
}