.av-actualities {
    padding : 50px 0;

    h2 {
        font-weight : 600;
        font-size   : 27px;

        @media(max-width:768px) {
            font-size     : 24px;
            margin-bottom : 5px;
        }
    }

    &.__row {
        .__card {
            display : grid;
            width   : 100%;
            padding : 20px 10px;

            @media(max-width: 768px) {
                &:not(:last-child) {
                    margin-bottom : 30px;
                    border-bottom : 1px solid var(--border);
                }
            }

            .image {
                position      : relative;
                height        : 240px;
                border-radius : var(--rounded-lg);
                overflow      : hidden;

                img {
                    width      : 100%;
                    height     : 100%;
                    object-fit : cover;
                }
            }

            .date {
                color     : var(--text-light);
                font-size : 16px;
            }

            .text {
                display         : flex;
                flex-direction  : column;
                justify-content : center;
                align-items     : flex-start;

                .content {
                    margin-bottom : 20px;
                    text-align    : justify;
                    /* max-width     : 650px; */

                    iframe {
                        display : none;
                    }

                    *:not(p, span, a, strong, b, u) {
                        display : none;
                    }
                }
            }

            &:nth-child(even) {
                grid-template-columns : 2fr 1fr;
                
                .image {
                    order : 2;
                }

                .text {
                    order         : 1;
                    padding-right : 30px;

                    @media(min-width: 769px) {
                        align-items : flex-end;
                    }

                    .content {
                        margin-left : auto;
                    }
                }

                @media(max-width: 768px) {
                    grid-template-columns : 1fr;
                    .text {
                        order : 2;
                    }

                    .image {
                        order : 1;
                    }
                }
            }

            &:nth-child(odd) {
                grid-template-columns : 1fr 2fr;

                @media(max-width: 768px) {
                    grid-template-columns : 1fr;
                }

                h2 {
                    text-align : left;
                }

                .text {
                    text-align   : left;
                    padding-left : 30px;
                }
            }

            @media(max-width: 768px) {
                .text {
                    padding : 40px 0;
                }
            }
        }

        .content {
            margin             : 20px 0 30px;
            text-align         : justify;
            text-overflow      : ellipsis;
            overflow           : hidden;
            width              : 100%;
            line-height        : 1.5rem;
            display            : -webkit-box;
            -webkit-line-clamp : 3;
            -webkit-box-orient : vertical;
        }

        @media(max-width: 992px) {
            padding : 50px 0;
        }

        @media(max-width: 768px) {
            .__card {
                padding : 10px 0;

                &:nth-child(even),
                &:nth-child(odd) {
                    .text {
                        padding    : 20px 0;
                        margin     : 0;
                    }
                }

                &:nth-child(even) {
                    .actu-img {
                        order : 1;
                    }

                    .actu-txt {
                        order : 2;
                    }
                }
            }
        }
    }

    /**
    *
    */

    &.__grid {
        display               : grid;
        grid-gap              : 20px;
        grid-template-columns : repeat(3, minmax(0, 1fr));

        @media(max-width: 992px) {
            grid-template-columns : repeat(2, minmax(0, 1fr));
        }
        @media(max-width: 576px) {
            grid-template-columns : 1fr;
        }

        .__card {
            height        : 100%;
            width         : 100%;
            max-width     : 560px;
            border        : 1px solid var(--border);
            border-radius : var(--rounded-lg);
            box-shadow    : var(--shadow-xl-colored);
            overflow      : hidden;

            .image {
                position : relative;
                height   : 200px;
                width    : 100%;
                overflow : hidden;

                img {
                    min-width  : 100%;
                    min-height : 100%;
                    object-fit : cover;
                }
            }

            .text {
                position       : relative;
                padding        : 20px;
                padding-bottom : 65px;
                height         : calc(100% - 200px);

                h2 {
                    font-size   : 22px;
                    line-height : 26px;
                    font-weight : 600;
                }

                .date {
                    color : var(--text-light);
                }

                .content {
                    text-overflow      : ellipsis;
                    overflow           : hidden;
                    width              : 100%;
                    line-height        : 1.4rem;
                    display            : -webkit-box;
                    -webkit-line-clamp : 4;
                    -webkit-box-orient : vertical;
                    margin             : 10px 0 20px;

                    *:not(p, span, a, strong, b, u) {
                        display : none;
                    }
                }
            }

            button {
                position  : absolute;
                bottom    : 20px;
                right     : 20px;
            }

            @media(max-width: 992px) {
                position : relative;
                bottom   : 0;
            }
        }
    }
}