@media(min-width:577px) and (max-width:768px) {
    .brand-container {
        .brands {
            div {
                margin : 0 auto;
                .brand-img {
                    max-width : 160px !important;
                }
            }
        }
    }
}

@media(max-width:576px) {
    .brand-container {
        .brands {
            div {
                .brand-img {
                    max-width : 220px !important;
                }
            }
        }
    }
}