@media(max-width:1366px) {
    .bricks{
        .bricks-container{
            max-width : 1300px;
        } 
    }
}

@media(max-width:767px) {
    .bricks {
        .bricks-container {
            display        : flex;
            flex-direction : column;
            
            .brick-text {
                padding : 20px 22px;
            }
        }
    }
}