@media(max-width:992px) {
    .checkerboard {
        padding : 50px 15px;
    }
}

@media(max-width:767px) {
    .checkerboard {
        .row {
            .text {
                padding : 0 0px;
            }
        }
    }
}

@media(max-width:768px) {
    .checkerboard {
        .row {
            &:nth-child(even) {
                .text {
                    order : 2;
                }

                .image {
                    order : 1;
                }
            }
        }
    }
}