@media(max-width:1366px) {
    .masonry-checkerboard {
        width           : 100%;
        padding         : 50px 10px;

        ul {

            li {

                .btn-primary {
                    width:100%;
                }
            }

            .text {
                padding:30px;
            }
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .none { 
        display:none;
    }
    .masonry-checkerboard {
        ul {
            li {
                &:nth-child(6) {
                    order:2;
                }
        
                &:nth-child(7) {
                    order:1;
                }
            }
        }
    }
}

@media(max-width:576px) {
    .masonry-checkerboard {
        width           : 100%;
        padding         : 50px 10px;

        ul {
            .text {
                padding : 40px 15px;
            }
        }
    }
}