.masonry-checkerboard {
    width           : 100%;
    padding         : 100px 50px;
    align-items     : center;
    justify-content : center;
    z-index         : 1;
    display         : flex;

    h2 {
        margin-bottom : 20px;
        text-align    : center;
    }
    
    ul {
        display   : flex;
        width     : auto;
        max-width : 1500px;
        height    : auto;
        margin    : 0 auto;
        padding   : 0;
        flex-wrap : wrap;

        li {
            border : 10px solid white;

            &:nth-child(6) {
                order : 1;
            }
            &:nth-child(7) {
                order : 2;
            }
        }

        .image {
            min-height : 400px;
        }

        .text {
            padding    : 40px;
            background : $primary-x-extra-light;

            h2 {
                &:after, &:before {
                    content : none;
                }
            }

            p {
                margin-bottom : 30px;
                text-align    : justify;
            }
            
            .btn {
                margin     : 0 auto;
                background : $primary-light;
            }
        }
    }
}

