.av-informations-section {
    position   : relative;
    width      : 100%;
    padding    : 50px 0;
    clear      : both;
    background : var(--slate-50);
    border-top : 1px solid var(--border);

    .av-informations-section-inner {
        display         : flex;
        flex-wrap       : wrap;
        justify-content : space-around;
        gap             : 50px;

        > div {
            flex      : 1 1 0px;
            min-width : 360px;
        }
    }

    &:after {
        position   : absolute;
        content    : "";
        bottom     : -100px;
        left       : 0;
        right      : 0;
        height     : 100px;
        width      : 100%;
        z-index    : -1;
        background : rgba(var(--primary-rgb), 0.05);
        clip-path  : polygon(0 0, 0% 100%, 100% 0);
    }

    h4 {
        font-weight   : 600;
        margin-top    : 6px;
        margin-bottom : 7px;
        text-align    : center;
    }

    .av-information {
        position       : relative;
        text-align     : left;
        display        : flex;
        flex-direction : column;
        align-items    : center;

        @media(max-width: 768px) {
            margin-bottom : 30px;
        }

        div,
        a {
            text-align : center;
        }

        a {
            &:hover {
                color : var(--secondary)
            }
        }
    }
}