.bricks {
    position   : relative;
    display    : flex;
    width      : 100%;
    min-height : 200px;
    padding    : 50px 0;
    background : var(--primary-xxlight);

    .bricks-container {
        position    : relative;
        width       : 100%;
        max-width   : 1440px;
        display     : flex;
        align-items : center;
        margin      : 0 auto;

        .brick-text {
            padding   : 20px 30px;
            min-width : 350px;

            &:before {
                position      : absolute;
                content       : '';
                left          : 0;
                top           : 0;
                background    : rgba(var(--primary-xlight-rgb), 0.4);
                height        : 100px;
                width         : 100px;
                border-radius : 10px;
            }

            &:after {
                position      : absolute;
                content       : '';
                right         : 0;
                bottom        : 0;
                background    : rgba(var(--primary-xlight-rgb), 0.3);
                height        : 120px;
                width         : 120px;
                border-radius : 10px;
            }

            p {
                font-size : 19px;
            }

            h2 {
                margin-bottom : 20px;
                font-size     : 32px;

                &:before {
                    display    : inline-block;
                    margin     : 0 10px 8px 0;
                    height     : 2px;
                    content    : " ";
                    background : var(--primary-light);
                    width      : 20px;
                }
            }
        }

        .brick-swiper {
            display        : flex;
            flex-direction : column;

            .swiper-pagination {
                position : relative;
            }

            .swiper-pagination-bullets {
                bottom : 0;
            }

            .swiper-pagination-bullet-active {
                background : var(--primary);
            }
        }

        .inner-brick-container {
            position : relative;
            padding  : 20px;
            cursor   : pointer;
            width    : 300px !important;

            .inner-brick {
                width         : 300px;
                padding       : 20px;
                margin        : 0 auto;
                background    : var(--body);
                border-radius : var(--rounded-lg);
                transition    : 0.7s ease;
                box-shadow    : var(--shadow-tiny);

                &:hover {
                    transform  : scale(1.05);
                    transition : 0.7s ease;
                }

                a {
                    display        : flex;
                    flex-direction : column;
                    margin         : 0 auto;

                    .brick-icon {
                        position        : relative;
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        padding         : 20px;
                        width           : 110px;
                        height          : 110px;
                        background      : var(--primary-xlight);
                        border-radius   : var(--rounded-full);
                        margin          : 10px auto;
                        transition      : 0.5s ease-in-out;

                        svg {
                            font-size  : 55px;
                            color      : var(--text);
                            transition : 0.5s ease-in-out;
                        }

                        &:hover {
                            background : var(--primary-dark);
                            border     : none;
                            transition : 0.5s ease-in-out;

                            svg {
                                color      : var(--primary-xlight);
                                transition : 0.5s ease-in-out;
                            }
                        }
                    }

                    span {
                        color       : var(--dark);
                        font-size   : 22px;
                        font-weight : 600;
                        text-align  : center;
                        padding     : 10px;
                    }
                }

                p {
                    text-align : center;
                    color      : var(--text);
                }
            }
        }
    }
}