.checkerboard {
    padding : 50px 0;

    .row {
        margin : 15px 0;
        width  : 100%;

        h2 {
            margin-bottom : 20px;
            padding-left  : 10px;
            border-left   : 4px solid var(--primary);
        }

        &:nth-child(even) {
            h2 {
                padding-left  : unset;
                padding-right : 10px;
                border-left   : unset;
                border-right  : 4px solid var(--primary);
            }
            
            .image {
                order : 2;
            }

            .text {
                order : 1;
                h2, p {
                    text-align  : right;
                    margin-left : auto;
                }

                h2 {
                    &:before {
                        left  : unset;
                        right : 0;
                    }
                }
            }

            a {
                margin : 0 0 0 auto;
            }
        }

        &:nth-child(odd) {

            h2,
            p {
                text-align : left;
            }

            a {
                margin : 0 auto 0 0;
            }
        }
    }

    .image {
        position      : relative;
        min-height    : 300px;
        border-radius : var(--rounded-md);
        box-shadow    : var(--shadow-one);
    }

    .text {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        padding         : 40px;

        h2 {
            font-weight : 600;
        }

        p {
            margin-bottom : 20px;
            max-width     : 650px;
        }
    }
}