.cookies-card {
    display       : block;
    position      : fixed;
    bottom        : 20px;
    left          : 20px;
    max-width     : 550px;
    background    : white;
    border-radius : var(--rounded-md);
    box-shadow    : var(--shadow-smooth);
    animation     : 1s ease-out 0s cookies-card-left;
    z-index       : 10000;

    .cookies-card-container {
        position : relative;
        padding  : 20px;

        .closer {
            position      : absolute;
            top           : 7px;
            right         : 7px;
            padding       : 5px;
            border-radius : var(--rounded-full);
            background    : var(--color-primary-xxlight);
            cursor        : pointer;

            svg {
                font-size : 20px;
            }
        }
    }

    h3 {
        font-size   : 24px;
        font-weight : bold;
    }

    p {
        font-size   : 14px;
        line-height : 18px;
        margin      : 10px 0 20px 0;
    }

    a {
        font-size       : 14px;
        line-height     : 18px;
        text-decoration : underline;
        &:hover {
            color : var(--color-primary);
        }
    }
}

.cookies-btn-container {
    display     : flex;
    align-items : center;
    width       : 100%;
    margin      : 0 auto;

    button {
        display         : flex;
        align-items     : center;
        justify-content : center;
        max-width       : 180px;
        min-width       : 160px;
        height          : 48px;
        font-size       : 16px;
        border-radius   : var(--rounded-md);
        margin          : 0 5px 0 0;
        padding         : 0 20px;

        &.btn-cookie-one {
            color           : var(--color-body);
            background      : var(--color-primary);
        }
        &.btn-cookie-two {
            color           : var(--color-text);
            background      : var(--color-primary-xxlight);
        }

        &:hover,
        &:active {
            color      : white;
            background : rgba(var(--color-primary-rgb), 0.8);
        }

        svg {
            font-size    : 20px;
            margin-right : 5px;
        }
    }
}

@media(max-width:576px) {
    .cookies-card {
        width         : 100%;
        max-width     : unset;
        height        : auto;
        margin        : 0 auto;
        left          : 50%;
        bottom        : 0;
        transform     : translateX(-50%);
        border-radius : 0;
        animation     : 1s ease-out 0s cookies-card;
        box-shadow    : var(--shadow-top);

        .cookies-btn-container {
            display        : flex;
            flex-direction : column;
            width          : 100%;

            button {
                margin    : 5px auto;
                width     : 100%;
                max-width : unset;
            }
        }
    }
}

@keyframes cookies-card-left {
    0% {
        left : -100%;
    } 100% {
        left : 20px;
    }
}

@keyframes cookies-card-bottom {
    0% {
        bottom : -100%;
    } 100% {
        bottom : 0;
    }
}