.map-container {
    width   : 100%;
    padding : 50px 0 0 0;

    .map {
        width         : 85%;
        min-height    : 450px;
        margin        : 0 auto;
        //box-shadow    : var(--shadow-one);

        .leaflet-container {
            border-radius : var(--rounded-md);
            height        : 550px;
        }
    }

    h2 {
        text-align    : center;
        font-weight   : 600;
        color         : var(--title);
        transition    : .5s ease;
        margin-bottom : 30px;

        &:before {
            display    : inline-block;
            margin     : 0 20px 8px 0;
            height     : 2px;
            content    : "";
            background : var(--primary-light);
            width      : 7%;
            transition : .5s ease;
        }

        &:hover {
            color        : var(--primary);
            transition   : .5s ease;
            margin-right : 20px;

            &:before {
                width      : 10%;
                transition : .5s ease;
            }
        }
    }
}

@media(max-width:992px) {
    .map-container {
        .map {
            width : 92%;
        }
    }
}

.leaflet-popup-tip-container {
    display : none;
}

.leaflet-popup-content-wrapper {
    border-radius : var(--rounded-md) !important;
    box-shadow    : var(--shadow-one) !important;
}

.leaflet-attribution-flag {
    display : none;
}

.leaflet-popup-content {
    margin     : 22px 40px 16px 40px !important;
    text-align : center;
    width      : 210px !important;

    img {
        max-width : 150px;
        margin    : 0 auto 12px;
    }

    p {
        margin    : 10px 0 3px !important;
        font-size : 18px;
    }

    a {
        color       : var(--text) !important;
        font-weight : 500;
        white-space : nowrap;

        &:hover {
            color : var(--primary) !important;
        }
    }
}