.whychoose {
    display  : flex;
    width    : 100%;
    padding  : 0 0 50px 0;
    position : relative;
  
    ul {
      width           : 100%;
      display         : flex;
      list-style      : none;
      padding         : 0;
      justify-content : center;
      align-items     : center;
      flex-wrap: wrap;
  
        li {
            display         : flex;
            flex-direction  : column;
            margin          : 20px;
            justify-content : center;
            align-items     : center;
            padding         : 30px 50px;
            background      : white;
            box-shadow      : $box-shadow-x-smooth;
    
            i {
                font-size     : 90px;
                margin        : 0 0 20px 0;
                transition    : 0.5s ease-in-out;
                border-radius : 5px;
                cursor        : pointer;
                color         : var(--color-primary);
            }
    
            p {
                font-size   : 20px;
                font-weight : 400;
                margin      : 0;
                text-align  : center;
        
                span {
                    font-weight : 800;
                    color       : var(--color-dark);
                }
            }
        }
    }
}