.btn-primary {
    position        : relative;
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    width           : auto;
    max-width       : 360px;
    padding-right   : 70px;
    font-size       : 20px;
    font-weight     : 500;
    text-align      : center;
    border-radius   : var(--rounded-xl);
    cursor          : pointer;
    outline         : none;
    transition      : 0.4s ease-in-out;
    white-space     : nowrap;
    z-index         : 1;

    &:after {
        content          : '';
        position         : absolute;
        right            : 0;
        height           : 56px;
        width            : 56px;
        z-index          : -1;
        transition       : 0.4s ease-in-out;
        box-shadow       : var(--shadow-smooth);
        border-radius    : var(--rounded-full);
        background-color : var(--color-body);
    }

    &:before {
        content             : '';
        position            : absolute;
        display             : block;
        right               : 0;
        height              : 10px;
        width               : 56px;
        background-repeat   : no-repeat;
        background-position : center;
        background-image    : url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 36 12' xmlns='http://www.w3.org/2000/svg' fill='%23323035'%3E%3Cpath d='M36 5.847v.306c-2.859 1.255-5.122 3.52-7.087 5.847l-.596-.582c.685-1.01 1.548-1.989 2.442-2.938.268-.276.417-.613.417-.858 0-.306-.238-.612-.775-.612H0V4.99h30.431c.298 0 .775-.368.775-.674 0-.275-.12-.459-.417-.765-.864-.857-1.787-1.959-2.442-2.969L28.942 0C30.878 2.296 33.141 4.622 36 5.847z'/%3E%3C/svg%3E");
        transition          : 0.4s ease-in-out;
    }

    &:hover, &:active, &:focus {
        padding-left  : 24px;
        padding-right : 90px;
        transition    : 0.4s ease-in-out;
        color         : var(--color-primary);

        &:after {
            width : 100%;
        }

        &:before {
            transform        : scaleX(1.3);
            right            : 10px;
            background-image : url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 36 12' xmlns='http://www.w3.org/2000/svg' fill='%2365795c'%3E%3Cpath d='M36 5.847v.306c-2.859 1.255-5.122 3.52-7.087 5.847l-.596-.582c.685-1.01 1.548-1.989 2.442-2.938.268-.276.417-.613.417-.858 0-.306-.238-.612-.775-.612H0V4.99h30.431c.298 0 .775-.368.775-.674 0-.275-.12-.459-.417-.765-.864-.857-1.787-1.959-2.442-2.969L28.942 0C30.878 2.296 33.141 4.622 36 5.847z'/%3E%3C/svg%3E");
            transition       : 0.4s ease-in-out;
        }
    }
}

.btn-cookies {
    display         : flex;
    align-items     : center;
    justify-content : center;
    max-width       : 180px;
    min-width       : 160px;
    height          : 48px;
    font-size       : 16px;
    border-radius   : var(--rounded-md);
    margin          : 20px auto 0;
    padding         : 0 20px;
    color           : var(--color-text);
    background      : var(--color-primary-xxlight);
}