.fslightbox-fade-out-strong {
    animation  : none;
    visibility : hidden;
    opacity    : 0;
    transition : visibility 0s 0.25s, opacity 0.25s ease;
}

.ReactModal__Overlay {
    z-index : 100000 !important;
}