.modal_wrapper {
    position    : fixed;
    top         : 0;
    right       : 0;
    bottom      : 0;
    left        : 0;
    display     : flex;
    align-items : center;
    padding     : 100px 0 30px;
    overflow-x  : hidden;
    overflow-y  : auto;
    visibility  : visible;
    z-index     : 100000000000;

    &.hide_wrapper {
        visibility : hidden;
    }

    .modal_container {
        margin           : auto;
        width            : 500px;
        padding          : 25px 15px;
        color            : var(--text);
        background-color : var(--body);
        border-radius    : var(--rounded-md);
        box-shadow       : var(--shadow-smooth);
        z-index          : 100000000000;
    
        h2 {
            padding-bottom : 7px;
            margin-bottom  : 10px;
            font-size      : 20px !important;
            font-weight    : 600;
    
            &.title_border {
                border-bottom : 1px solid var(--text-tertiary);
            }
        }

        .modal-title {
            font-size     : 24px;
            font-weight   : bold;
            text-align    : center;
            margin-bottom : 20px;
        }
    
        &.hide_modal {
            opacity    : 0;
            visibility : hidden;
            transform  : scale(0.8);
            transition : visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        }
    
        &.show_modal {
            opacity    : 1;
            visibility : visible;
            transform  : scale(1);
            transition : visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }
    
        .close_modal {
            position         : absolute;
            padding          : 5px;
            top              : 7px;
            right            : 5px;
            cursor           : pointer;
            border-radius    : 30px;
    
            svg {
                width  : 22px;
                height : 22px;
            }
    
            &:hover {
                background-color : var(--grey-xlight);
            }
        }
    }
}
    
.modal_cover {
    display    : none;
    position   : fixed;
    top        : 0;
    bottom     : 0;
    left       : 0;
    right      : 0;
    background : var(--modal-cover);
    z-index    : 100000;

    &.modal_cover-active {
        display : block;
    }
}

@media(max-width: 768px) {
    .modal_wrapper {
        .modal_container {
            width : 85%;
        }
    }
}

@media(max-width: 576px) {
    .modal_wrapper {
        .modal_container {
            width : 95%;
        }
    }
}