.scrolltotop {
    display       : block;
    position      : absolute;
    background    : var(--color-primary);
    width         : 45px;
    height        : 45px;
    top           : 90vh;
    right         : 1%;
    cursor        : pointer;
    transition    : 0.7s ease;
    border-radius : 30px;
    padding       : 11px 13px;
    box-shadow: $box-shadow-x-smooth;

    i {
        font-size  : 22px;
        color      : white !important;
        background : var(--color-primary);
    }
}