::-webkit-scrollbar {
    width  : 8px;
    height : 10px;
}
::-webkit-scrollbar-button {
    width  : 0px;
    height : 0px;
}
::-webkit-scrollbar-thumb {
    background    : #c1c1c1;
    border        : 31px none #c1c1c1;
    border-radius : 6px;
}
::-webkit-scrollbar-thumb:hover {
    background : var(--primary-light);
}
::-webkit-scrollbar-thumb:active {
    background : var(--primary-light);
}
::-webkit-scrollbar-track {
    background    : #ffffff;
    border        : 1px solid #ffffff;
    border-radius : 5px;
    width         : 5px;
}
::-webkit-scrollbar-track:hover {
    background : transparent;
}
::-webkit-scrollbar-track:active {
    background : transparent;
}
::-webkit-scrollbar-corner {
    background : transparent;
}  
