::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border: 31px none var(--color-primary);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background:  var(--color-primary-dark);
}
::-webkit-scrollbar-thumb:active {
    background:  var(--color-primary-light);
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width:5px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}  
