// change these values if its not imported into bootstrap
$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 768px,
  // Medium screen / tablet
        md: 992px,
  // Large screen / desktop
        lg: 1200px,
  // Extra large screen / wide desktop
        xl: 1440px
) !default;