.theme-toggle {
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin-left     : 8px;
    border-left     : 1px solid var(--primary-light);

    button {
        margin-left   : 8px;
        border-radius : var(--rounded-lg);

        svg {
            width         : 36px;
            height        : 36px;
            padding       : 8px;
            border-radius : var(--rounded-lg);
            color         : var(--body);
            background    : var(--primary-dark);
        }
    }
}

@media(max-width:var(--screen-lg)) {
    .theme-toggle {
        margin-left  : auto;
        border-left  : none;
        margin-right : 8px;
        border-right : 1px solid var(--primary-light);

        button {
            margin-left:none;
            margin-right:8px;
        }
    }
}